/* Pop-Up-Message */

.pop-up-message {
  width: 68rem;
  font-family: sans-serif;
  position: relative;
}

#itemList {
  list-style-type: none;
  padding: 0;
}

.item {
 
  background-color: lightgray;
  cursor: pointer;
}

.item.active {
  background-color: black;
  color: white;
  text-decoration: none;
 font-weight: 800;
 padding:2px 10px;
 border-radius: 5px;
}
.last{
margin-left: -5px;
padding: 5px;

}

/*   Media Pop Up Message  */

@media only screen and (max-width: 1673px) {
  .pop-up-message {
    width: 59rem;
    font-family: sans-serif;
    position: relative;
    left: 29px;
  }
}

@media only screen and (max-width: 1599px) {
  .pop-up-message {
    width: 57rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}

@media only screen and (max-width: 1538px) {
  .pop-up-message {
    width: 51rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}

@media only screen and (max-width: 1428px) {
  .pop-up-message {
    width: 49rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}

@media only screen and (max-width: 1399px) {
  .pop-up-message {
    width: 49rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}

@media only screen and (max-width: 1290px) {
  .pop-up-message {
    width: 47rem;
    font-family: sans-serif;
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  .pop-up-message {
    width: 24rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}
