.shim {
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.blogsImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: right;
}

.blogTitle-:hover {
  color: #dc3545;
}


