.p-text {
  width: 90%;
  padding-top: 10px;
}
.star {
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .p-text {
    width: 100%;
  }
  .tech-text {
    margin-top: 1rem;
  }
}
