.computers .nav-tabs {
  border: 0;
}

.computers .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}

.computers .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.computers .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: black;
}

.computers .nav-link:hover {
  color: var(--color-primary);
}

.computers .nav-link.active {
  transition: 0.3s;
}
.computers .computer-bg.active {
  transition: 0.3s;
  /* background: #34548c; */
  background: #11253d;
}

.computers .nav-link.active h4 {
  color: #dc3545;
}

.computers .nav-link.active h5 {
  color: #dc3545;
}

.computers .nav-link.active i {
  color: white;
}

.computers .tab-content {
  margin-top: 30px;
}

.computers .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.computers .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
  color: var(--color-secondary);
}

.computers .tab-pane ul {
  list-style: none;
  padding: 0;
}

.computers .tab-pane ul li {
  padding-bottom: 10px;
}

.computers .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: #dc354b;
}

.computers .tab-pane p:last-child {
  margin-bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Network */
.network-opo .nav-tabs {
  border: 0;
}

.network-opo .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}

.network-opo .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.network-opo .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.network-opo .nav-link:hover {
  color: var(--color-primary);
}

.network-opo .nav-link.active {
  transition: 0.3s;

  border-color: var(--color-primary);
}

.network-opo .nav-link.active h4 {
  color: #dc3545;
}

.network-opo .nav-link h5 {
  color: #dc3545;
}

.network-opo .nav-link.active h5 {
  color: white;
}
.network-opo .center.active {
  background: #6c757d;
}

.network-opo .nav-link.active i {
  color: white;
}

.network-opo .tab-content {
  margin-top: 30px;
}

.network-opo .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.network-opo .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
}

.network-opo .tab-pane ul {
  list-style: none;
  padding: 0;
}

.network-opo .tab-pane ul li {
  padding-bottom: 10px;
}

.network-opo .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: #dc354b;
}

.network-opo .tab-pane p:last-child {
  margin-bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Printer */
.printers-opo .nav-tabs {
  border: 0;
}

.printers-opo .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}

.printers-opo .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.printers-opo .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.printers-opo .nav-link:hover {
  color: var(--color-primary);
}

.printers-opo .nav-link.active {
  transition: 0.3s;

  border-color: var(--color-primary);
}

.printers-opo .nav-link.active h4 {
  color: #dc3545;
}

.printers-opo .nav-link h5 {
  color: white;
}

.printers-opo .nav-link.active h5 {
  color: white;
}
.printers-opo .center.active {
  background: #dc3545;
}

.printers-opo .nav-link.active i {
  color: white;
}

.printers-opo .tab-content {
  margin-top: 30px;
}

.printers-opo .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.printers-opo .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
}

.printers-opo .tab-pane ul {
  list-style: none;
  padding: 0;
}

.printers-opo .tab-pane ul li {
  padding-bottom: 10px;
}

.printers-opo .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: #dc354b;
}

.printers-opo .tab-pane p:last-child {
  margin-bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
