.form-controli:focus {
  border-color: #ced4da;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.rmFocus:focus {
  border-color: #ced4da; /* default B5 color or set your own color*/
  border: none !important; /* if you want to remove borders at all*/
  outline: none !important;
  box-shadow: none !important;
}

.product-card:hover {
  box-shadow: 2px 12px 15px #999;
  transform: translateY(-2px);
}
