


.drop-show:hover .drop-menu{
  display: block;
}

/* .dropdown:active .dropdown-menu{
  display: none;
} */


.dropdown-item:hover{
 background-color: #dc3545 ;
 border-radius: 100px;
 color: white;
}

/* ====================== */

.solutions-items-active { 
  background-color: #dc3545 ;
  border-radius: 100px;
  color: white;
}
/* ================== */

.strategic-items-active{
  background-color: #dc3545 ;
  border-radius: 100px;
  color: white;
}

/* ================== */

.productss-items-active{
  background-color: #dc3545 ;
  border-radius: 100px;
  color: white; 
}

/* ===================== */

.whoo-items-active{
  background-color: #dc3545 ;
  border-radius: 100px;
  color: white; 
}

/* ===================== */

.van:hover{
   width: 300px;
   height: 400px;
 }

.first-drop{
position: absolute;
left: -500px;
width: 1020px;
top: 50px;
transition-delay: 2s;
}

 .NAVba{
  background: transparent;


 }

.NAVbar{
  background-color: #11253D;
  -webkit-transition: background-color 1ms linear;
  -ms-transition: background-color 1ms linear;
  transition: background-color 1ms linear;
 
  
}





.navbar-toggler {
   border: none;
}

.navbar-toggler:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255 255 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.dismiss-nav-man:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}



.e-fonte{
  font-size: 17px;
  font-weight: bold;

}
.e-fonte:hover{
  font-size: 17px;
  font-weight: bold;
  color: #dc3545  !important;
}


/* 
.cart-badge{
  background-color:#34548c;
}
.cart-badge:hover{
  background-color: #dc3545;
} */

.i-fonte{
  font-size: 17px;
  
}

.i-fonte:hover{
  color: #dc3545;
}

.t-fonte:hover{
  color: #dc3545;
}

.nav-item .nav-link{
  color:"#dc3545"
}


/* ============================================================ */
      
.elonatechContainer {
  height: 100px;
  width: 100%;
  padding-left: 5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.elonatechactiveContainer {
  height: 100px;
  width: 100%;
  padding-left: 5rem;
  background: linear-gradient(0deg, rgba(52, 84, 140, 0.9), rgba(52, 84, 140, 0.9));
  display: flex;
  align-items: center;
  gap: 30rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  transition: all 1s ease;
}


.elonatechlogoBox{
  width: 150px;
  height: auto;
  cursor: pointer;
}

.elonatechlist {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

.elonatechlistItem {
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}
.elonatechlistItem:first-child {
  font-size: 1.3rem;
}

.elonatechmainDropdown{
  background: #fff;
  position: absolute;
  overflow: hidden;
  width: 0;

}
.elonatechmainDropdownDone{
  display: none;
  background: #fff;
}

.elonatechlistItem:hover .elonatechmainDropdown{
  background: #fff;
  display: flex;
  width: auto;
}

.elonatechmainDropdownActive{
  background: #fff;
  position: absolute;

  overflow: hidden;
  width: 0;

}

.elonatechlistItem:hover .elonatechmainDropdownActive{
  background: #fff;
  display: flex;
  width: auto;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
 
}

.elonatechmainDropdownLeft{
  flex: 1;
  padding: 2rem;
  border-right: 1px solid #ccc;
  transition: all 1s ease;
}

.elonatechmainDropdownLeftList{
  margin: 0;
  padding: 0;
  list-style: none;
}

.elonatechmainDropdownLeftListItem{
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 12px;
  padding: 1rem;
  width: 160px;
  cursor: pointer;
  border-radius: 1rem;
  transition: border-radius .5s ease;

}

.elonatechdisplayArrow{
  color: #fff;
}

.elonatechmainDropdownLeftListItemActive{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 1rem;
  width: 160px;
  cursor: pointer;
  transition: border-radius .5s ease;
  color: #fff;
  background-color: #dc3545;
  border-radius: 1rem;
}
.elonatechmainDropdownLeftListItemActive2{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 1rem;
  width: 160px;
  cursor: pointer;
  transition: border-radius .5s ease;
  color: #fff;
  background-color: #dc3545;
  border-radius: 1rem;
}
.elonatechmainDropdownLeftListItemActive3{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 1rem;
  width: 160px;
  cursor: pointer;
  transition: border-radius .5s ease;
  color: #fff;
  background-color: #dc3545;
  border-radius: 1rem;
}
.elonatechmainDropdownLeftListItem:hover{
  color: #fff;
  background-color: #dc3545;
  border-radius: 1rem;
}

.elonatechmainDropdownRight{
  flex: 0;
  padding: 0;
  width: 0;
  transition: all 1s ease;
}

.elonatechmainDropdownRightActive{
  flex: 3;
  padding: 2rem;
  min-width: auto;
  transition: 1s ease;
}

.elonatechmainDropdownRightList{
  display: none;
}
.elonatechmainDropdownRightListActive{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

.elonatechmainDropdownRightListItem{
  color: #000;
  font-size: 12px;
  width: 120px;
  cursor: pointer;
  transition: padding .25s ease;
}

.elonatechmainDropdownRightListItem:hover{
  background-color: aquamarine;
  border-radius: 10px;
  font-size: 9px;
  padding: 3px;
}

.elonatechmainDropdownRightListItemList{
  padding: 0;
  margin: 0;
  margin-top: 3rem;
  list-style: none;
  display: none;
  width: auto;
  position: absolute;
}

.elonatechmainDropdownRightListItem:hover .elonatechmainDropdownRightListItemList{
  padding: 3rem 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: auto;
  position: absolute;
  left: 32%;
}

.elonatechmainDropdownRightListItemListItem{
  width: 100px;
}


/* SOLUTION */
.elonatechinnerListContainer{
  background-color: #fff;
  color: #000;
  visibility: hidden;
  list-style: none;
  margin-top: 50rem;
  position: absolute;
  left: 5%;
  top: -815%;
}


/* left: 34%; */
.elonatechlistItem:hover .elonatechinnerListContainer{
  background-color: #fff;
  color: #000;
  display: flex;
  opacity: 1;
  list-style: none;
  visibility: visible;
  margin-top: 50rem;
  position: absolute;
  left: 30%;
  top: -817%;
  width: 1100px;
}

.bi-plus{
  display: none;
}

/* ===================================================== */
.elonatechinnerListItemLeft, .elonatechinnerListItemRight{
  padding: 1rem;
}
.elonatechinnerListContentLeft, .elonatechinnerListContentRight{
  list-style: none;
  padding: 0;
  margin: 0;
}
.elonatechline{
  width: 2px;
  height: 209px !important;
  background: #000;
}

.elonatechinnerListItemContentLeftActive{
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #dc3545;
  font-weight: 900;
  padding: 1rem;
  width: 160px;
  cursor: pointer;
  border-radius: 1rem;
  transition: border-radius .5s ease;
}

.elonatechinnerListItemContentLeft{
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 12px;
  padding: 1rem;
  width: 160px;
  cursor: pointer;
  border-radius: 1rem;
  transition: border-radius .5s ease;
}

.salePad{
  padding-right: 60px;
}







@media screen and (max-width:500px) {
  .salePad{
    padding-right: 3px;
  }

}


.elonatechinnerListItemContentRight{
  font-size: 12px;
}

.elonatechicon{
display: none;
}

.elonatechinnerListItemContentRightTechListActive, .elonatechinnerListItemContentRightDigitalListActive, .elonatechinnerListItemContentRightSalesListActive{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.elonatechinnerListItemContentRightDigitalListItem{
  font-size: 12px;
}

.elonatechinnerListItemContentRightSalesListActive{
  margin-top: 3rem;
  margin-left: 5rem;
}

.elonatechinnerListItemContentRightSalesListItem{
  display: flex;
  flex-direction: column;
  font-size: 9px;
  transition: transform .25s ease;
}
.elonatechinnerListItemContentRightSalesListItem:hover{
  transform: scale(1.2);
  color: #dc3545;
}

.elonatechinnerListItemContentRightTechList, .elonatechinnerListItemContentRightDigitalList, .elonatechinnerListItemContentRightSalesList{
  display: none;
}

.elonatechinnerListItemContentRightTechListTitleActive{
  color: #dc3545;
}
.elonatechinnerListItemContentRightTechListTitle{
  color: #222;
}

.elonatechhardwareSolutionsListActive, .elonatechsystemSecurityListActive,
.elonatechtelecomsListActive, .elonatechsoftwareSolutionsListActive{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4rem;
  position: absolute;
  left: 30%;
  margin-top: 3rem;
  font-size: 9px;
  text-align: center;
 
}


.elonatechnetworkAdministrationListActive{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4rem;
  position: absolute;
  left: 23%;
  margin-top: 3rem;
  font-size: 9px;
  text-align: center;
}

.elonatechwebSolutionsListActive, .elonatechdigitalMarketingListActive, .elonatechgraphicsListActive, .elonatechvideoAnimationsListActive, .elonatechteleconferencingListActive{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4rem;
  position: absolute;
  left: 30%;
  margin-top: 3rem;
  font-size: 9px;
  text-align: center;
}

.elonatechhardwareSolutionsList, .elonatechnetworkAdministrationList, .elonatechsystemSecurityList, .elonatechtelecomsList, .elonatechsoftwareSolutionsList, .elonatechwebSolutionsList,
.elonatechdigitalMarketingList, .elonatechgraphicsList, .elonatechvideoAnimationsList, .elonatechteleconferencingList{
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  gap: 10px;
  position: absolute;
  margin-top: 3rem;
}


.elonatechhardwareSolutionsListItem, .elonatechnetworkAdministrationListItem, .elonatechsystemSecurityListListItem, .elonatechtelecomsListListItem,
.elonatechsoftwareSolutionsListListItem{
  display: flex;
  flex-direction: column;
  transition: transform .25s ease;
}
.elonatechhardwareSolutionsListItem:hover, .elonatechnetworkAdministrationListItem:hover, .elonatechsystemSecurityListListItem:hover, .elonatechtelecomsListListItem:hover,
.elonatechsoftwareSolutionsListListItem:hover{
  transform: scale(1.2);
  color: #dc3545;
}

.elonatechwebSolutionsListItem, .elonatechdigitalMarketingListItem, .elonatechgraphicsListListItem, .elonatechvideoAnimationsListListItem, .elonatechteleconferencingListListItem{
  display: flex;
  flex-direction: column;
  transition: transform .25s ease;
}
.elonatechwebSolutionsListItem:hover, .elonatechdigitalMarketingListItem:hover, .elonatechgraphicsListListItem:hover, .elonatechvideoAnimationsListListItem:hover, .elonatechteleconferencingListListItem:hover{
  transform: scale(1.2);
  color: #dc3545;
}


@media screen and (max-width:913px) {
 .elonatechtest{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }


  .elonatechlistItem:hover .elonatechinnerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    opacity: 1;
    list-style: none;
    visibility: visible;
    margin-top: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

  .elonatechSolutionsTitle{
    position: relative;
    left: -7%;
  }

  .elonatechline{
    width:113% ;
    height: 2px !important;
    background-color: black !important;
    position: relative;
    right: 12%;
    margin-top: 0;
    
  }

  
.bi-plus{
  display: block;
}

  .elonatechinnerListContainer{
    top: 0;
    left: 0;
    background: #000;
  }

  .elonatechicon{
    display: block;
    margin-left: 8rem;
   }
   .elonatechicon:hover{
    color: #dc3545;
   }
  

.elonatechinnerListItemLeft, .elonatechinnerListItemRight{
  padding: 10px;
}

.elonatechinnerListContentLeft{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  left: -7%;
}

.elonatechinnerListItemContentRightTechListActive, .elonatechinnerListItemContentRightDigitalListActive, .elonatechinnerListItemContentRightSalesListActive{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}




.elonatechhardwareSolutionsListActive, .elonatechsystemSecurityListActive, 
.elonatechtelecomsListActive, .elonatechsoftwareSolutionsListActive{
  list-style: none;
  padding: 0;
  margin: auto;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  position: relative;
  left: -2%;
  top: 20%;
  margin: 2rem 0;
  font-size: 9px;
  text-align: center;



}


.elonatechnetworkAdministrationListActive{

  list-style: none;
  padding: 0;
  margin: auto;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  position: relative;
  left: -10%;
  top: 20%;
  margin: 2rem 0;
  font-size: 9px;
  text-align: center;


}

.elonatechwebSolutionsListActive, .elonatechdigitalMarketingListActive, .elonatechgraphicsListActive, .elonatechvideoAnimationsListActive, .elonatechteleconferencingListActive{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  position: relative;
  left: -7%;
  top: 20%;
  margin: 2rem 0;
  font-size: 9px;
  text-align: center;
}



.elonatechinnerListItemContentRightSalesListActive{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  position: relative;
  left: -10%;
  font-size: 9px;
  text-align: center;
}




 .elonatechlistItem:hover .elonatechmainDropdown{
  background: #fff;
  position: relative;
  display: flex;
  width: auto;

} 

} 




@media screen and (max-width:480px) {
 .elonatechtest{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }


  .elonatechlistItem:hover .elonatechinnerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    opacity: 1;
    list-style: none;
    visibility: visible;
    margin-top: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

  .elonatechSolutionsTitle{
    position: relative;
    left: -7%;
  }

  .elonatechline{
    width:113% ;
    height: 2px !important;
    background-color: black !important;
    position: relative;
    right: 12%;
    margin-top: 0;
    
  }

  
.bi-plus{
  display: block;
}

  .elonatechinnerListContainer{
    top: 0;
    left: 0;
    background: #000;
  }

  .elonatechicon{
    display: block;
    margin-left: 8rem;
   }
   .elonatechicon:hover{
    color: #dc3545;
   }
  

.elonatechinnerListItemLeft, .elonatechinnerListItemRight{
  padding: 10px;
}

.elonatechinnerListContentLeft{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  left: -7%;
}

.elonatechinnerListItemContentRightTechListActive, .elonatechinnerListItemContentRightDigitalListActive, .elonatechinnerListItemContentRightSalesListActive{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}




.elonatechhardwareSolutionsListActive, .elonatechsystemSecurityListActive, 
.elonatechtelecomsListActive, .elonatechsoftwareSolutionsListActive{
  list-style: none;
  padding: 0;
  margin: auto;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  position: relative;
  left: -2%;
  top: 20%;
  margin: 2rem 0;
  font-size: 9px;
  text-align: center;



}


.elonatechnetworkAdministrationListActive{

  list-style: none;
  padding: 0;
  margin: auto;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  position: relative;
  left: -10%;
  top: 20%;
  margin: 2rem 0;
  font-size: 9px;
  text-align: center;


}

.elonatechwebSolutionsListActive, .elonatechdigitalMarketingListActive, .elonatechgraphicsListActive, .elonatechvideoAnimationsListActive, .elonatechteleconferencingListActive{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  position: relative;
  left: -7%;
  top: 20%;
  margin: 2rem 0;
  font-size: 9px;
  text-align: center;
}



.elonatechinnerListItemContentRightSalesListActive{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  position: relative;
  left: -10%;
  /* margin-top: 3rem; */
  font-size: 9px;
  text-align: center;
}




 .elonatechlistItem:hover .elonatechmainDropdown{
  background: #fff;
  position: relative;
  display: flex;
  width: auto;

} 

} 



#elonatech-logo-home{
  height: 4rem;
  width: 10rem;
  border: 0;
  background-color: transparent;
}


@media only screen and (max-width: 500px) {
#elonatech-logo-home{
  height: 3rem;
  width:8rem ;
  border: 0;
}

}  

@media only screen and (max-width: 1573px) {
  .elonatechlistItem:hover .elonatechinnerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    opacity: 1;
    list-style: none;
    visibility: visible;
    margin-top: 50rem;
    position: absolute;
    left: 440px;
    top: -817%;
    width: 1100px;
  }

} 
@media only screen and (max-width: 1538px) {
  .elonatechlistItem:hover .elonatechinnerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    opacity: 1;
    list-style: none;
    visibility: visible;
    margin-top: 50rem;
    position: absolute;
    left: 340px;
    top: -817%;
    width: 1100px;
  }

} 



@media only screen and (max-width: 1428px) {
  .elonatechlistItem:hover .elonatechinnerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    opacity: 1;
    list-style: none;
    visibility: visible;
    margin-top: 50rem;
    position: absolute;
    left: 300px;
    top: -817%;
    width: 1100px;
  }

}  
@media only screen and (max-width: 1399px) {
  .elonatechlistItem:hover .elonatechinnerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    opacity: 1;
    list-style: none;
    visibility: visible;
    margin-top: 50rem;
    position: absolute;
    left: 270px;
    top: -817%;
    width: 1100px;
  }

}  
@media only screen and (max-width: 1368px) {
  .elonatechlistItem:hover .elonatechinnerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    opacity: 1;
    list-style: none;
    visibility: visible;
    margin-top: 50rem;
    position: absolute;
    left: 220px;
    top: -817%;
    width: 1100px;
  }

}  


@media only screen and (max-width: 1290px) {
  .elonatechlistItem:hover .elonatechinnerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    opacity: 1;
    list-style: none;
    visibility: visible;
    margin-top: 50rem;
    position: absolute;
    left: 170px;
    top: -817%;
    width: 1100px;
  }

}




@media only screen and (max-width: 500px) {

  .navbar-bg-change{
  background: #11253df7;
 
  
  }
  .dropdown-item{
    width: 10rem;
    text-align: center;
    position: relative;
    left: 17%;
  }



}

.salesSupply{
  display: none;
}



@media only screen and (max-width: 993px) {
  
  .navbar-bg-change{
    background: #11253df7;
    
  }

  .salesSupply{
    display: block;
  }

  .saleSupplyAnd{
    display: none;
  }


.techCenter{
  text-align: center;
}

}

/*=============================================== carousel ================================ */

.carousel-navbar-item{
display: none;
}

.carousel-navbar-item-show {
  display: block;
}





