.take {
  cursor: pointer;
  transition: all 0.3s;
}

.take:hover {
  transform: scale(0.9);
  transition: all 0.3s;
}

.hidebutton {
  display: none;
}

.showbutton:hover .hidebutton {
  transition: all 9s ease-in-out;
  display: block;
}

/* ============================== */

.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.pageNumbers li.active {
  z-index: 3;
  color: #fff;
  background-color: #e00b05 !important;
  border-color: #353535;
}

.pageNumbers li button:focus {
  outline: none;
}

/* Pop-Up-Message */

.pop-up-message {
  width: 68rem;
  font-family: sans-serif;
  position: relative;
}

.item {
  text-decoration: none;
}

.last{

}

.item.active {
  background-color: black;
  color: white;
  text-decoration: none;
 font-weight: 800;
 padding:0px 10px;
 border-radius: 5px;
}
.list{
 list-style-type: none;
}
.custom-hover:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1673px) {
  .pop-up-message {
    width: 59rem;
    font-family: sans-serif;
    position: relative;
    left: 29px;
  }
}

@media only screen and (max-width: 1599px) {
  .pop-up-message {
    width: 57rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}

@media only screen and (max-width: 1538px) {
  .pop-up-message {
    width: 51rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}

@media only screen and (max-width: 1428px) {
  .pop-up-message {
    width: 49rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}

@media only screen and (max-width: 1399px) {
  .pop-up-message {
    width: 49rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}

@media only screen and (max-width: 1290px) {
  .pop-up-message {
    width: 47rem;
    font-family: sans-serif;
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  .pop-up-message {
    width: 24rem;
    font-family: sans-serif;
    position: relative;
    left: 25px;
  }
}
